# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
git+https://github.com/anchoranalysis/anchor-python-sphinx.git#egg=anchor_python_sphinx
pandas>=1.1
tensorflow>=2.1.0
plotly>=4.5.4
opencv-python>=4.4.0.42
numpy>=1.18.1
scikit-learn>=0.22.2.post1
tensorboard>=2.1.0
seaborn>=0.10.0
matplotlib>=3.1.3
# sphinx_rtd_theme
